
body {
    padding: 0;
    margin: 0;
}


.header_menu {
    display: flex;
    justify-content: flex-end;
    margin-top: -5px;
}
li {
    padding-top: 10px;
    height: 30px;
    width: 100px;
    color: rgb(231, 228, 229);
    text-align: center;
    border: 1px solid rgb(173, 18, 83);;
    border-radius: 10px;
    list-style-type:  none;
    margin: 30px;
    box-shadow: 1px 2px 4px rgba(244, 229, 229, 0.84);
}

li:hover {
    background-color: rgb(232, 72, 187);
    color: #fff;
    cursor: pointer;
    box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}
   
.main {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.info_main {
    color: #fff;
    margin-left: 100px;
    width: 100%;
}
.name {
    text-transform: uppercase;
}
.info_main {
    line-height: 50px;
    text-transform: uppercase;
}
.btn {
    color: #fff;
    width: 200px;
    background-color: rgb(31, 71, 95);
    height: 40px;
    text-align: center;
    border-radius: 10px;
    list-style-type:  none;
    box-shadow: 1px 2px 4px rgba(137, 95, 95, 0.84);
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(232, 72, 187);
    color: #fff;
}
a {
    color: white;
    text-decoration: none
  }


 


